.key.O {

    margin-left:5px;
    margin-right:5px;
    float:left;
}
.key.E {

    margin-top:30px;
    float:left;
}

.row
{

}
.row#r1 {
    overflow:hidden;
    margin-top:20px;
    width: 1000px;
    margin-left: 10px;
}
.row#r2 {
    overflow:hidden;
    margin-left:15px;
    width: 895px;
}
.row#r3 {
    overflow:hidden;
    margin-left:15px;
    width: 865px;
}

.key
{
    font-size: 16px;
    text-align: center;
    border: 2px solid;
    padding-left: 33px;
    padding-right:33px;
    padding-bottom:29px;
    padding-top:29px;
        margin-left:5px;
    margin-right:5px;
}

#keys
{
    width:900px;
    font-family: monospace;
}

