/* BEGIN NAV MENU */
nav {
	top:0;
	left:0;
	background-color: white;
	height:30px;
	position: fixed;
	z-index: 2;
	width: 100%;
	border-bottom: 1px solid #567682;
}
 
 
nav ul {
	text-shadow: 0 1px 3px #999999;
	font-size: 16px;
	margin: 0;
	padding: 0;
	list-style: none;
}
 
nav ul li {
	display: block;
	position: relative;
	float: left;
 
}
 
nav li ul { 
	display: none; 
}
 
nav ul li a {
	display: block;
	text-decoration: none;
	padding: 7px 15px 3px 15px;
	background: white;
	color: black;  
	white-space: nowrap;
	border-left: 1px solid #b2b2b2;
	font-weight: 300;
	height:20px; /* Width and height of top-level nav items */
	width:100px;
	text-align:center;
 
}
 
nav ul li a:hover { 
	background: #7f7f7f; 
	color: white;
	/*box-shadow: inset 0 1px 0 #3A464F,inset 0 0 30px 0 #142a4a;*/
}
 
nav li:hover ul {
	display: block;
	position: absolute;
	height:25px;
}
 
nav li:hover li {
	float: none;
	font-size: 11px;
 
}
 
nav li:hover a { 
	background: white; 
	height:20px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
	background: #7f7f7f; 
	color: white;
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
/* END NAV MENU */

body{
	background: url(pics/background.jpg) 50% 0 repeat fixed; min-height: 1000px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#content {
	text-align:center;
}

#wrap1 {
	margin-left: 100px;
	float: left;
	background: white;
	display: inline-block;
	padding: 5px 5px 5px 5px;
}
#wrap2 {
	margin-right: 100px;
	float: right;
	background: white;
	display: inline-block;
	padding: 5px 5px 5px 5px;
}

#prog{
	width: 100%;
	height: 25px;
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#progressBar{
	position:fixed;
	top: 32px;
	z-index: 1;
	left: 15%;
	padding: 5px 5px 5px 5px;
	width: 70%;
	margin: 0 auto;
	background: white;
}

#welcome {
	float: right;
	padding: 7px 15px 3px 15px;
}

#keyboard {
	background: white;
	height: 355px;
	width: 905px;	
	margin: 0 auto;
}

#topWindows {
	width: 100%;
	height: 250px;
}
#wordWindow {
	text-align:center;
	background: white;
	height: 250px;
	width: 33%;
	float: left;
	border: 2px solid;
}
#currentWord{
	width: 200px;	
	border: 2px solid;
	margin: 0 auto;
}

#choiceWindow {
	position: absolute;
	left:50%;
	height: 250px;
	width: 250px;
	margin-left: -125px;
	border: 2px solid;
	background: white;
}
#choiceDrop {
	width: 200px;
	margin: 0 auto;
}
#resultsWindow {
	background: white;
	height: 250px;
	width: 33%;
	float: right;
	border: 2px solid;
}
#resultsList {
	width: 200px;	
	margin: 0 auto;
}