<!DOCTYPE HTML>
{% extends "ARK/pazzos_base.html" %}
	{% block content%}
        {% load staticfiles %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {

    Highcharts.data({
        csv: document.getElementById('tsv').innerHTML,
        itemDelimiter: '\t',
        parsed: function (columns) {

            var brands = {},
                brandsData = [],
                versions = {},
                drilldownSeries = [];
            
            // Parse percentage strings
            columns[1] = $.map(columns[1], function (value) {
                if (value.indexOf('%') === value.length - 1) {
                    value = parseFloat(value);
                }
                return value;
            });

            $.each(columns[0], function (i, name) {
                var brand,
                    version;

                if (i > 0) {

                    // Remove special edition notes
                    name = name.split(' -')[0];

                    // Split into brand and version
                    version = name.match(/([0-9]+[\.0-9x]*)/);
                    if (version) {
                        version = version[0];
                    }
                    brand = name.replace(version, '');

                    // Create the main data
                    if (!brands[brand]) {
                        brands[brand] = columns[1][i];
                    } else {
                        brands[brand] += columns[1][i];
                    }

                    // Create the version data
                    if (version !== null) {
                        if (!versions[brand]) {
                            versions[brand] = [];
                        }
                        versions[brand].push(['' + version, columns[1][i]]);
                    }
                }
                
            });

            $.each(brands, function (name, y) {
                brandsData.push({ 
                    name: name, 
                    y: y,
                    drilldown: versions[name] ? name : null
                });
            });
            $.each(versions, function (key, value) {
                drilldownSeries.push({
                    name: key,
                    id: key,
                    data: value
                });
            });

            // Create the chart
            $('#container').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: 'Success Rate'
                },
                subtitle: {
                    text: 'Click the slices to view versions. Source: netmarketshare.com.'
                },
                plotOptions: {
                    series: {
                        dataLabels: {
                            enabled: true,
                            format: '{point.name}: {point.y:.1f}%'
                        }
                    }
                },

                tooltip: {
                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                    pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                }, 

                series: [{
                    name: 'Word Difficulties',
                    colorByPoint: true,
                    data: brandsData
                }],
                drilldown: {
                    series: drilldownSeries
                }
            })

        }
    });
});
    

		</script>
	</head>
	<body>
	<br>
    <script src="{% static 'ARK/js/highcharts.js' %}" ></script>
    <script src="{% static 'ARK/js/modules/data.js' %}" ></script>
    <script src="{% static 'ARK/js/modules/drilldown.js' %}" ></script>

<div id="container" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

<!-- Data from www.netmarketshare.com. Select Browsers => Desktop share by version. Download as tsv. -->
<pre id="tsv" style="display:none">Browser Version	Total Market Share
Easy Word4	26.61%
Medium 9.0	16.96%
Easy Word1	8.01%
Easy Word2	7.73%
Medium 12	6.72%
Medium 6.0	6.40%
Medium 11	4.72%
Medium 7.0	3.55%
Medium 5.1	3.53%
Medium 13	2.16%
Hard 3.6	1.87%
Hard 11.x	1.30%
Easy Word3	1.13%
Hard 10	0.90%
Hard 5.0	0.85%
Hard 9.0	0.65%
Hard 8.0	0.55%
Hard 4.0	0.50%
Hard 16.0	0.45%
Hard 3.0	0.36%
Hard 3.5	0.36%
Medium 6.0	0.32%
Medium 5.0	0.31%
Medium 7.0	0.29%
Medium 11.0	0.29%
Medium 16.0	0.26%
Very Hard 14.0	0.25%
Very Hard 20.0	0.24%
Very Hard 15.0	0.18%
Very Hard 12.0	0.16%
Very Hard 13.0	0.15%
Very Hard 4.0	0.14%
Very Hard 13.0	0.13%
Very Hard 4.1	0.12%
Very Hard 11.0	0.10%
Very Hard 14	0.10%
Very Hard 2.0	0.09%
Very Hard 10.0	0.09%
Very Hard 10.5	0.09%
Very Hard 25.0	0.09%</pre>

	</body>
</html>
{% endblock%}