{% extends "admin/base_site.html" %}
{% block content %}
{% if invalid %}
<p class="error">Sorry, that's not a valid username/password</p>
{% endif %}
<h1>Log in</h1>
<form action = "/accounts/auth/" method="post">{% csrf_token %}
    <label for="email">Email:</label>
    <input type = "text" name = "username" value = "" id = "username"><br />
    <label for = "password">Password:</label>
    <input type = "password" name = "password" value = "" id = "password"><br />
        
    <input type = "submit" value = "Login" />
</form>
<br />
<h2>Not a member? Register now!</h2>

<form action="/accounts/register/" method = "post">{% csrf_token %}
    {{register}}
    <input type = "submit" value = "Register" />
</form>

{% endblock %}