{% extends "ARK/pazzos_base.html" %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'ARK/css/ark_keyboard_styles.css' %}" />
        <script src="{% static  'ARK/js/helpers/inheritance.js' %}"></script>
  <script src="{% static 'ARK/js/helpers/EventHelper.js' %}"></script>

  <!-- Hierarchical models -->
  <script src="{% static 'ARK/js/models/Exportable.js' %}"></script>
    <script src="{% static 'ARK/js/models/Observable.js' %}"></script>
      <script src="{% static 'ARK/js/models/GraphicalGroup.js' %}"></script>
      <script src="{% static 'ARK/js/models/Layer.js' %}"></script>
      <script src="{% static 'ARK/js/models/Mouse.js' %}"></script>
      <script src="{% static 'ARK/js/models/Draggable.js' %}"></script>
        <script src="{% static 'ARK/js/models/Graphical.js' %}"></script>
          <script src="{% static 'ARK/js/models/GraphicalCoordinate.js' %}"></script>
          <script src="{% static 'ARK/js/models/DragField.js' %}"></script>
          <script src="{% static 'ARK/js/models/Text.js' %}"></script>
          <script src="{% static 'ARK/js/models/Shape.js' %}"></script>
            <script src="{% static 'ARK/js/models/Rectangle.js' %}"></script>
              <script src="{% static 'ARK/js/models/FilledRectangle.js' %}"></script>
                <script src="{% static 'ARK/js/models/Key.js' %}"></script>

  <!-- Scenes -->
  <script src="{% static 'ARK/js/models/Scene.js' %}"></script>
    <script src="{% static 'ARK/js/models/KeyboardScene.js' %}"></script>

  <!-- App -->
  <script src="{% static 'ARK/js/SwypeApp.js' %}"></script>
<body>
	<br><br>
	<div id="progressBar">
		<progress id="prog" max="100" value="15"></progress>
	</div>
	<br>
	<div id="topWindows">
		<div id="wordWindow">
			<p>Type the word shown:</p>
			<div id="currentWord">
				<p>Example</p>
			</div>
		</div>
		<div id="choiceWindow">
			<div id="choiceDrop">
				<p style="text-align:center;">Choose a Test:</p>
				<select style="width:200px;">
					  <option value="easy">Easy</option>
					  <option value="medium">Medium</option>
					  <option value="hard">Hard</option>
				</select>
			</div>
		</div>
		<div id="resultsWindow">
			<p style="text-align:center;">Results</p>
			<div id="resultsList">
				<ol>
					<li>Example</li>
				</ol>
			</div>
		</div>
	</div>
	<style>
  body {
    margin: 0px;
    padding: 0px;
  }

  canvas {
    margin: 0px;
    padding: 0px;
    border: thin solid black;
    background: #EEE;
  }
</style>
<script>
window.onload = function(){
  document.getElementById("canvas").width=window.innerWidth;
  document.getElementById("canvas").height=(window.innerWidth/768)*292;
  if(document.getElementById("canvas").getContext){
    // Startup App
    var App = new SwypeApp(
      document.getElementById("canvas")
    );
    App.loadScene(new KeyboardScene());
    App.run();
  }else{
    // Show error
    alert("Error, could not load Swype app");
  }
};
</script>
<canvas id="canvas" width="900" height="350"></canvas>
<textarea cols='30' rows='5' id='log'></textarea>
</body>

{% endblock %}