{% extends "admin/base_site.html" %}
{% block content %}
{% if invalid %}
<p class="error">Sorry, that's not a valid username/password</p>
{% endif %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ARK/style.css' %}" />
<h1>Log in</h1>
<form action = "/accounts/auth/" method="post" id="login">{% csrf_token %}
    <label for="email">Email:</label>
    <input type = "text" name = "email" value = "" id = "email" ><br />
    <label for = "password">Password:</label>
    <input type = "password" name = "password" value = "" id = "password"><br />
        
    {% if next %}
    <input type = "hidden" name = "next" value = "{{next}}" id = "next" />
    {% endif %}
        
    <input type = "submit" value = "Login" />
</form>
<br />
<h1>Not a member? Register now!</h1>

<form action="/accounts/register/" method = "post" id="register">{% csrf_token %}
    {% for field in register %}
    {{ field.label_tag }} {{ field }}<br />
    {% endfor %}
    
    {% if next %}
    <input type = "hidden" name = "next" value = "{{next}}" id = "next" />
    {% endif %}
        
    <input type = "submit" value = "Register" />
</form>

{% endblock %}

