<html>
    <head>
        <title>
            
        </title>
    </head>
    <body>
    <div id="header">
        <div id="user-tools">
            Welcome
            <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% block userlinks %}
                {% if user.is_authenticated %}
                <a href="{% url 'ARK.views.logout' %}">Log out</a>
                {% else %}
                <a href="{% url 'ARK.views.login' %}">Log in</a>
                {% endif %}
            {% endblock %}
        </div>
        {% block nav-global %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    </body>
</html>